@use "../../../scss/mixins.scss" as *;

$background-gradient-color: #6c62ce, #ff0edc;
$font-color: #f2f2f2;
$background-image: #0d0d0d;

.input {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  &__btn {
    border: none;
    margin-left: 15px;
    border-radius: 30px;
    width: 80px;
    background-image: radial-gradient(
      circle farthest-corner at 7.2% 13.6%,
      $background-gradient-color
    );
    font-family: "Playfair Display", serif;
    text-align: center;
    color: $font-color;
  }
  input {
    width: 400px;
    height: 30px;
    border-radius: 20px;
  }
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  &__details {
    margin: 15px 20px;
  }
  &__image {
    transition: 0.3s ease-in-out;
    border: none;
    &:hover {
      transition: 0.3s ease-in-out;
      transform: scale(1.1);
    }
    button {
      padding: 0px;
      background-color: $background-image;
      border: none;
      cursor: pointer;
    }

    img {
      width: 300px;
      height: 450px;
      border-radius: 10px;
    }
  }
}

.movie-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    color: $font-color;
    font-size: 30px;
    font-weight: lighter;
  }
  img {
    width: 200px;
  }
}
