/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: #0d0d0d;
  font-family: "Playfair Display", serif;
}

a,
ul,
li {
  text-decoration: none;
  list-style: none;
}
